body{margin:0px;padding:0px;text-align:left;font:12px/22px tahoma,arial,ו,sans-serif}ul,ol,li,p,h1,h2,h3,h4,h5,h6,table,td,th,form,fieldset,img,dl,dt,dd{margin:0px;padding:0px;font-family:"ו",arial}textarea,input,select,body{font-size:12px}fieldset,img,a
img{border:0}img{vertical-align:top}ul,ol{list-style:none}a{color:#0E437C;text-decoration:none}a:hover{color:#0E437C;text-decoration:underline}.area,.box,.boxc,.runchart,.datas{clear:both;overflow:hidden;zoom:1}.area{margin:0
auto;width:950px}.w705{float:left;width:715px;overflow:hidden;position:relative}.w234{float:right;width:224px;border:1px
solid #DDD}.box{margin-bottom:10px}.list li,.xline li,.table td span,.zuqiushuju .yingchao,.lotnum span,
.zuqiushuju .yijia,.zuqiushuju .xijia,.zuqiushuju .fajia,.zuqiushuju .dejia,.zuqiushuju .putaoya,.aInfo .btn_touzhu,
.zuqiushuju .hejia,.zuqiushuju .rij,.zuqiushuju .hank,.zuqiushuju .ajia,.zuqiushuju .bajia,.zuqiushuju .meizhi,
.boxtit_kj li,.boxtit_kj li.on,.kj_zoushi{background:url(/style/img/partner/qiantaobg.png?v=2011080403)}.boxtit{padding:0
5px;height:26px;line-height:26px;width:705px;float:left;position:relative;z-index:2}.boxtit
ul{float:left;margin:0px;width:450px}.boxtit
li{width:100px;height:24px;margin-right:4px;font-size:14px;cursor:pointer;color:#999;font-weight:bold;display:inline;line-height:24px;text-align:center;float:left;border:1px
solid #DDD;background:#FFF;background: -moz-linear-gradient(top, #FFFFFF, #ECECEC);background: -webkit-gradient(linear, 0 0, 0 80%, from(#FFFFFF), to(#ECECEC));filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#ECECEC');-ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#ECECEC')"}.boxtit
li.on{color:#333;border:1px
solid #BFD2E6;border-bottom:1px solid #fff;background:#E4EBFE;background: -moz-linear-gradient(top, #C2E0FF, #FFFFFF);background: -webkit-gradient(linear, 0 0, 0 80%,from(#C2E0FF),to(#FFFFFF));filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#C2E0FF',endColorstr='#FFFFFF');-ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr='#C2E0FF',endColorstr='#FFFFFF')"}h2{font-size:14px;line-height:22px;padding:5px
8px 0}.b20,.b10{height:20px;clear:both;line-height:1;overflow:hidden}.b10{height:0px}.results{padding:12px
0}.results
td{border-right:1px solid #ccc;line-height:20px;padding-top:6px}.results
td.bdn{border:none}.results td
strong{float:left;height:44px;padding-left:12px}.results td
a{margin-right:3px}.query{padding:15px
0 0 5px;overflow:hidden;float:left;border:1px
solid #DDD;display:none;height:156px;width:708px;position:relative;z-index:1;margin-top:-1px}.hotBox{width:230px;padding:0px
2px;float:left}.hotBox
.fl{float:left;text-align:center}.hotBox
.fr{width:170px;float:right}.hotBox .fr
p{width:170px;line-height:20px}.hotBox .fr p
em{line-height:20px;width:55px;float:left;text-align:center;cursor:pointer;font-style:normal}.hotBox .fr p
.dz01{height:20px;overflow:hidden;line-height:20px;font-style:normal;width:65px;float:left;text-align:center;cursor:pointer}.hotBox .fr p
.dz02{line-height:20px;font-style:normal;width:35px;float:left;text-align:center;cursor:pointer}.hotBox .fr
strong{color:#0e6dbc}.hotBox
.f1{width:170px}.line{border-left:1px solid #DDD;border-right:1px solid #DDD}.querytit{float:right;padding-top:5px}.lotnum{height:27px;padding:0px;overflow:hidden}.lotnum
b{line-height:26px}.lotnum
span{float:left;width:21px;height:21px;overflow:hidden;background-position:0px 0px;margin-right:2px;display:inline;text-align:center;line-height:20px;color:#fff;font-family:Arial;font-weight:bold;font-size:12px}.lotnum
span.numblue{background-position:0 -22px}.lotnum
span.numempty{width:2px;background-position:-30px 0px}.naward{height:169px}.naward
li{height:50px;line-height:21px;padding:4px
0 0 40px;margin:3px
auto;background:#E8F1FD;background: -moz-linear-gradient(top, #FFFFFF, #E8F1FD);background: -webkit-gradient(linear, 0 0, 0 80%,from(#FFFFFF),to(#E8F1FD));filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF',endColorstr='#E8F1FD');-ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF',endColorstr='#E8F1FD')"}.red{color:#f00}.rednews{color:#f00;text-align:right;float:right;padding:0px
6px 0px 0px;margin:0px}.reveal{height:248px;text-align:center}.reveal
h4{height:35px;line-height:35px;padding:3px
0;font-size:14px}.lottab{width:950px;margin:0
auto}.lottab
table{border-collapse:collapse;background-color:#fff}.lottab
th{height:28px;line-height:28px;text-align:center;border:1px
solid #BFD2E6;background:#E5ECFE;background: -moz-linear-gradient(top, #E5ECFE, #C2E0FF);background: -webkit-gradient(linear, 0 0, 0 80%, from(#E5ECFE), to(#C2E0FF));filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#E5ECFE', endColorstr='#C2E0FF');-ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr='#E5ECFE', endColorstr='#C2E0FF')"}.lottab
td{border:1px
solid #DDD;height:29px;text-align:center}.lottab
.lotnum{float:left;height:22px}.lotnumtxt{float:left;padding:3px
0 0 8px}.lottab
.tdline{display:block;width:65px;height:1px;overflow:hidden;border-top:1px solid #d2e4f7;margin:2px
auto 0}.lottab tr.tbg
td{background:#F7F7F7}.lottab
td.tleft{text-align:left;padding-left:10px}.aInfo{clear:both;width:225px;padding:10px
0px 0px 0px;line-height:1.6;font-size:12px}.aInfo
img{float:right}.aInfo
.btn_touzhu{width:80px;height:32px;margin-top:3px;float:right;display:block;background-position:0px -72px}.datab{clear:both;height:30px;line-height:30px;background:#edf6ff;text-align:center;color:#0e6dbc}.datab
a{margin:0
3px}.datab
span{padding:0
18px}.bor{border:1px
solid #DDD;background:#F7F7F7;width:948px;margin:10px
auto 0 auto}.tit{height:30px;line-height:30px;padding:0
8px;font-size:14px;font-weight:bold;color:#333;border-bottom:1px solid #DDD;background:#E5ECFE;background: -moz-linear-gradient(top, #E5ECFE, #C2E0FF);background: -webkit-gradient(linear, 0 0, 0 80%, from(#E5ECFE), to(#C2E0FF));filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#E5ECFE', endColorstr='#C2E0FF');-ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr='#E5ECFE', endColorstr='#C2E0FF')"}.tit
span{font-size:12px;font-weight:normal}.table
td{padding:10px
20px}.table td
p{line-height:1.8;color:#999}.table td
span{width:63px;height:80px;margin-right:5px;float:left}.table
.tools_ssq{background-position:0px -178px}.table
.tools_dlt{background-position: -67px -178px}.table
.tools_ssy{background-position: -134px -178px}.table
.tools_3d{background-position: -201px -178px}.table
.tools_p3{background-position: -268px -178px}.table
.tools_ssc{background-position: -335px -178px}.table1
td{padding:5px
20px;vertical-align:top}.table1
.zuqiushuju{margin:6px
0px 0px 0px;padding:0px;float:left}.table1 .zuqiushuju
a{width:63px;height:80px;margin-right:6px;display:block;float:left}.zuqiushuju
.yingchao{background-position:0px -271px}.zuqiushuju
.yijia{background-position: -75px -271px}.zuqiushuju
.xijia{background-position: -150px -271px}.zuqiushuju
.fajia{background-position: -225px -271px}.zuqiushuju
.dejia{background-position: -300px -271px}.zuqiushuju
.putaoya{background-position: -375px -271px}.zuqiushuju
.hejia{background-position:0px -357px}.zuqiushuju
.rij{background-position: -75px -357px}.zuqiushuju
.hank{background-position: -150px -357px}.zuqiushuju
.ajia{background-position: -225px -357px}.zuqiushuju
.bajia{background-position: -300px -357px}.zuqiushuju
.meizhi{background-position: -375px -357px}.imglist
img{margin:3px;display:inline}.table1
td.xline{border-left:1px solid #DDD;border-right:1px solid #DDD;width:240px;overflow:hidden}.xline
li{padding-left:10px;line-height:1.8;background-position: -104px -64px}.list{width:100%;clear:both}.list
li{padding-left:10px;line-height:1.8;background-position: -104px -64px}.w738{width:738px;height:268px;margin:0
auto;overflow:hidden}.boxtit_kj{height:26px;line-height:26px;padding:0
5px}.boxtit_kj
ul{float:left;padding-top:1px;margin:0px;width:450px}.boxtit_kj
li{width:60px;height:28px;float:left;margin-right:4px;font-size:12px;cursor:pointer;color:#333;line-height:25px;background-position: -390px -52px;background-repeat:no-repeat;text-align:center;display:inline}.boxtit_kj
li.on{background-position:-390px -82px;color:#fff}.query_kj{padding:0px;height:230px;overflow:hidden;display:none}.w738
.tab_kj{float:left;width:738px;overflow:hidden;text-align:center;margin-top:3px}.w738 .tab_kj
th{background-color:#F4FFEE;height:32px;line-height:32px}.w738 .tab_kj
td{height:31px;line-height:31px}.kj_zoushi{width:50px;height:18px;display:block;float:left;background-position:-310px -88px}.w738 .tab_kj
em{margin-right:7px;font-size:18px;font-family:Arial;color:#F00;font-weight:bold;float:left}.w738
a{color:#029700;text-decoration:none}.w738 a:hover{color:#029700;text-decoration:underline}.caipiao_mh{width:948px;height:85px}.caipiao_mh
h3{width:927px;padding:10px
0px 5px 20px}.caipiao_mh
ul{width:927px;padding:0px;float:right}.caipiao_mh ul
li{float:left;width:100px}.huihulottery .shiyiy .fr,.huihulottery .shiyiy .fr p,
.huohutabbox .shiyiy .fr,.huohutabbox .shiyiy .fr
p{width:140px}.huohutabbox{padding:10px
5px;width:710px;height:230px;overflow:hidden}.huohutabbox
.hotBox{padding:0px
3px}.hotBox
.imgbox{float:left;width:50px;text-align:center}.hotBox
.lotnum{margin-top:5px}.tablink{clear:left;float:left;width:710px;margin-top:10px;padding-top:10px;border-top:1px dashed #DDD}.news{float:left;width:240px;padding:0px;margin:0px}.news
li{float:left;width:230px;height:23px;line-height:23px;overflow:hidden}.links b,.links a,.links
span{display:inline-block;float:left;height:23px;line-height:23px;overflow:hidden}.links
span{}.links1 a,
.links3
a{text-align:left;padding:0px
8px}.links2
a{width:40px;text-align:center}.links2
b{padding:0px
5px 0px 15px}